.dice-container {
    perspective: 500px;
    display: inline-block;
  }
  
  .dice {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0.75rem;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50%;
  }
  
  .dice .face {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    outline: thin solid #c0c0c0;
    border-radius: 0.25rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .dice .face:nth-child(1) { transform: translateZ(1.5rem); } /* front */
  .dice .face:nth-child(2) { transform: translateZ(-1.5rem) rotateY(180deg); } /* back */
  .dice .face:nth-child(3) { transform: translateY(-1.5rem) rotateX(90deg); } /* up */
  .dice .face:nth-child(4) { transform: translateY(1.5rem) rotateX(-90deg); } /* down */
  .dice .face:nth-child(5) { transform: translateX(-1.5rem) rotateY(-90deg); } /* left */
  .dice .face:nth-child(6) { transform: translateX(1.5rem) rotateY(90deg); } /* right */
  