<div id="wrapper">
  <p-messages class="toast" />
  <h1>Le Jeu de Dés du patissier</h1>

  <div class="dice-container">
    <div *ngFor="let dice of dices" class="dice">
      <app-dice [value]="dice"></app-dice>
    </div>
  </div>
  
  <div class="actions">
    <button p-button (click)="showScoreboard()">Tableau de Scores</button>
    <button *ngIf="!this.gameOver" p-button (click)="launch()">Lancer</button>
    <button p-button (click)="showPrizes()">Mes Prix</button>
    <button p-button (click)="logout()">Déconnexion</button>
  </div>
</div>
