.p-card-header {
    text-align: center;
  }
  
  .pastry-image {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .card {
    padding: 1em;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  }
